/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-backdrop {
  background: rgba(0,0,0,.80);
}

mat-card-content::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

mat-card-content::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

mat-card-content::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #1e1e1e;  /* creates padding around scroll thumb */
}

mat-card-content {
  scrollbar-color: #4b4b4b transparent;
  scrollbar-width: thin;
}
